.page.page-home h2 {
  font-size: 22px;
  padding: 0 10px 0 0px;
  position: relative;
}

.page.page-home .card-wrapper {
  display: flex;
}

.page.page-home .card-wrapper .card {
  flex: 1;
  padding: 12px;
  position: relative;
  border: 1px solid #e5e5e5;
}

.page.page-home .card-wrapper .card a.card-title {
  color: black;
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 16px;
  padding: 0;
  font-family: "Work Sans", serif;
}

.page.page-home .card-wrapper .card .card-body {
  display: flex;
  flex-flow: column;
}

.page.page-home .card-wrapper .card .card-body .card-text:first-of-type {
  flex: 1;
}
